@import "tailwindcss";

/* FONTS */
.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}


.afacad-weight {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.bellefair-regular {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}

.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

.podkova-weight {
  font-family: "Podkova", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.ranga-bold {
  font-family: "Ranga", cursive;
  font-weight: 700;
  font-style: normal;
}

/* Agregar estas animaciones a tu CSS */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.3s ease-out;
}